.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.item {
  flex: 0 0 calc((100% - 3 * 5px) / 4);
  box-sizing: border-box;
}
